@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow-x: hidden;
}


/*------------------------------------------------------------CSS VARIABLES FOR DARK MODE-------------------------------------------------------*/
:root {
  --secondary-color: #ffffff;
  --primary-color: #070707;
  --ternary-color-2: #a4a3a3;
  --ternary-color-1: #747474;
  --main-color: #4d77ff;
  --opacity-secondary: 0.3;
  --opacity-primary: 0.5;

  --back-brightness: brightness(0.4);
  --back-blur: blur(64px);
  --black: #000;
  --white: #fff;
  --grey: #aaa;
  --light-black: rgba(0, 0, 0, 0.89);
  --pink:#ff3c78;
}

.opa-dark {
  opacity: var(--opacity-primary);
}

.opa-light {
  opacity: var(--opacity-secondary);
}

.txt-main {
  color: var(--main-color);
}

.back-main {
  background-color: var(--main-color);
}

.back-dark {
  background-color: var(--secondary-color);
}

.txt-dark {
  color: var(--primary-color);
}

.back-light {
  background-color: var(--primary-color);
}

.txt-light {
  color: var(--secondary-color);
  fill: var(--secondary-color);
}

.txt-ternary-dark {
  color: var(--ternary-color-1);
}

.txt-ternary-light {
  color: var(--ternary-color-2);
}

.nav-dark {
  backdrop-filter: var(--back-blur) var(--back-brightness);
}
.nav-light {
  backdrop-filter: var(--back-blur) var(--back-brightness);
}
/*-----------------------------------------------------DARK THEME--------------------------------------------------*/

/*-----------------------------------------------gradients for the backdrop---------------------------------------------------*/
.gradient__blue {
  background: linear-gradient(45deg, #b9c9ff 0%, #4964ff 100%);
  filter: blur(120px);
}

.gradient__blue2 {
  background: linear-gradient(45deg, #b9c9ff 0%, #4964ff 100%);
  filter: blur(120px);
}

.gradient__pink {
  background: linear-gradient(10deg, #ffb9f6 0%, #fd74eb 100%);
  filter: blur(140px);
}

/*------------------------------------------------PULSING EFFECTS-------------------------------------------------------------*/
.gradient__blue {
  animation: pulse 12s 10s ease infinite;
}

.gradient__blue2 {
  animation: pulse 8s 10s ease infinite;
}

.gradient__pink {
  animation: pulse 20s ease infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

/*---------------------------------------------------TYPEWRITER EFFECT-------------------------------------------------------*/
.type {
  position: relative;
}

.type::before,
.type::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.type::before {
  background: var(--primary-color);
  animation: typerwriter 2s steps(14) 1s forwards;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.type::after {
  width: 0.125em;
  background: var(--main-color);
  animation: typerwriter 2s steps(14) 1s forwards,
    blink 700ms steps(14) infinite;
}

@keyframes typerwriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}
/*-----------------------------------------------------------BACK TO THE TOP-------------------------------------------------------------*/
/* CSS */
#btn-back-to-top {
  position: fixed;
  display: block;
  right: 3vmax;
  bottom: 3vmax;
}

/*----------------------------------------------------------CUSTOM SCROLLBAR-----V--------------------------------------------------------*/
::-webkit-scrollbar {
  width: 7px;
  background-color: var(--primary-color);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
}

/*----------------------------------------SCROLL SNAP EFFECT (God bless me if I pulled this off)-----------------------------------------*/

/*-----------------------------------------------------------ACCORDION-----------------------------------------------------------------*/

.transition {
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.content {
  color: var(--secondary-color);
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 0.5, 0, 1);
  padding: 0px;
  font-size: 0px;
  z-index: 20;
}
.show {
  z-index: 20;
  padding: 20px;
  height: auto;
  max-height: 99999px;
  transition: all 0.5s cubic-bezier(1, 0, 0.5, 0);
  font-size: 15px;
}
@media screen and (max-width: 600px) {
  .show {
    font-size: 11px;
  }
}

#blueborder2 {
  border-top: 1px solid #4d77ff;
} 

/* ------------------------------------------------------Loaderr-------------------------------------- */
.loader-container {
  background-color: white;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  opacity: 1;
  transition: all 500ms;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.rotatingLoader {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border-top: 4px dashed #4d77ff;
  animation: round 700ms linear infinite;
}

@keyframes round {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}




/*--------------------------------------------------------Solution hover-------------------------------*/
.sol-hover {
  cursor: pointer;
  padding: 0.7rem;
  margin: 0.7rem;
  filter: brightness(0.4);
  border-radius: 30px;
  border: 1px #c2c2c2 solid;
  font-size: 25px;
  font-weight: 500;
  transition: filter 300ms;
}
.sol-hover:hover {
  filter: brightness(1);
  color: #4d77ff;
  border-color: #4964ff;
}

@media screen and (max-width: 600px) {
  .sol-hover {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
  }
}
/* Road Map  */
.timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
}

/* Card container */
.card {
  position: relative;
  max-width: 400px;
  background-color: #070707 !important;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid var(--main-color);
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
@media only screen and (max-width: 400px) {
  .card:nth-child(odd)::before {
    top: -5px;
    bottom: -5px;
  }
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  background: #333;
  color: black;
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-family: "Poppins", sans-serif !important;
}

/* Title of the card */
.title {
  color: var(--main-color);
  position: relative;

}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid var(--main-color);
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
  right: -45px;
}

/* ------------------------------------------------------Feature card-------------------------------------- */

.feature-card {
  background: linear-gradient(135deg, rgba(23, 23, 23, 0.9) 0%, rgba(30, 30, 30, 0.7) 100%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

/* ------------------------------------------------------marketplace-------------------------------------- */
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}


.home_page img {
  width: 100% !important;
  height: 550px;
  background-position: center;
  position: relative;
  background-size: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  border-radius: 10px;
}




.home_txt {
  position: absolute;
  top: 37%;
  left: 20%;
}

.home_txt p {
  color: var(--primary-color);
  font-weight: 600;
  padding-bottom: 20px;
  letter-spacing: 1.5px;
}

.home_txt h2 {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 53px;
  letter-spacing: 3px;
  font-weight: 600;
  color: var(--light-black);
}

.home_txt .home_label p {
  color:#333;
  font-size: 14px;
  padding-top: 10px;
}

.home_txt a {
  text-decoration: none;
  color: var(--white);
}

.home_txt button {
  background-color: var(--black);
  color: var(--white);
  border: none;
  padding: 15px 30px;
  font-size: 14px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.home_txt .bx-right-arrow-alt {
  font-size: 25px;
  padding-left: 5px;
}

.home_txt .home_social_icons a {
  text-decoration: none;
  color: var(--light-black);
  margin-right: 15px;
  font-size: 18px;
}
.home_social_icons {
  display: flex;
  align-items: center; /* Vertically center icons */
}

/*collections*/

.collections {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 65px;
}

.content2 {
  width: 300px;
  margin: 20px;
  position: relative;
}

.content2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.871);
  z-index: 2;
  opacity: 0;
}

.content2:hover::after {
  opacity: 1;
}

.content2 img {
  width: 100%;
  height: 250px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border: 5px solid var(--grey);
  border-radius: 10px;
}

.img-content2 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
  color: var(--white);
  text-align: center;
  font-size: 1.4rem;
  font-weight: bolder;
  z-index: 5;
  opacity: 0;
}

.img-content2 p {
  font-size: 1.6rem;
}

.collect-btn {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  transition: 0.3s;
  font-weight: 500;
  
}

.img-content2 button {
  border: none;
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 10px;
  padding: 2px;
}

.img-content2 button:hover {
  background: var(--white);
  color: var(--main-color);
}

.img-content2 button:hover~.img-content2 a {
  color: var(--main-color);
}

.img-content2 a:hover {
  color: var(--main-color);
}

.content2:hover .img-content2 {
  opacity: 1;
  top: 50%;
}

/* sales */

.image-container {
  position: relative;
}

.rating-badge {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.rating-value {
  color: white;
  margin-right: 3px;
}

.star-icon {
  color: gold;
}

.best-seller {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .red {
  color: var(--main-color);
  cursor: pointer;
}

 .blue {
  color: #8989ce;
  cursor: pointer;
}

 .white {
  color: var(--pink);
  cursor: pointer;
}


.seller h2 {
  margin-top: 65px;
  margin-bottom: 20px;
  color: white;
}

.seller .best-p1 {
  width: 300px;
  height: 370px;
}

.seller .best-p1 img {
  height: 250px;
  width: 250px;
  border-radius: 5px;
}
.expand-on-hover {
  transition: transform 0.3s ease;
}

.expand-on-hover:hover {
  transform: scale(1.1); 
}

.seller .best-p1 .price {
  display: flex;
  justify-content: space-between;
  color: white;
}
.best-seller .buy-now a {
  text-decoration: none;
  color: var(--white);
}

.seller a:hover {
  color: var(--main-color);
}

.best-seller .buy-now button {
  padding: 10px 15px;
  margin-top: 5px;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--main-color);
  color: var(--white);
  border: none;
  border-radius: 15px;
  font-weight: 500;
  border: 1px solid var(--main-color);
  transition: 0.5s;
}

.best-seller .buy-now button:hover,
.best-seller .add-cart button:hover {
  background-color: #4D77FF;
  font-weight: 600;
}

.best-seller .buy-now button:hover a,
.best-seller .add-cart button:hover a {
  color: var(--main-color);
}

.chart-container {
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 50%;
}


.logo-container ul li {
  width: 300px;
  height: 120px;
  border-radius: 10px;
  margin: 10px;
  float: left;
  padding:20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);    
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-container ul li a{
text-decoration:none !important;
display: inline-block;
}
.logo-holder{
text-align:center;
}

.logo-3 h3 {
  color: aliceblue;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height:1.5;
  font-weight: 900;
}

.logo-3 p {
  font-size:9px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  padding-left: 5px;
  margin-bottom: 20px;
}